{{ define "index.html" }}
<!DOCTYPE html>
<html lang="en">

  {{ template "layouts/head.html" .}}

  <body>
    {{ template "components/preloader.html" .}}

    {{ template "layouts/navbar.html" .}}

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text">
      <div class="container-fluid">
        <div class="owl-banner owl-carousel">
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <section class="blog-posts">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                {{ range .posts }}
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      {{ if .Image }}
                        <img src="{{ .Image }}" alt="{{ .Title }}" style="height: 200px; object-fit: cover;">
                      {{ else }}
                        <img src="https://dummyimage.com/16:9x1080/" alt="{{ .Title }}" style="height: 200px; object-fit: cover;">
                      {{ end }}
                    </div>
                    <div class="down-content">
                      <span>{{ .Category.Name }}</span>
                      <a href="/posts/{{ .Slug }}"><h4>{{ .Title }}</h4></a>
                      <ul class="post-info">
                        <li><a href="#">{{ .User.Name }}</a></li>
                        <li><a href="#">{{ .CreatedAt.Time.Format "Jan 02, 2006" }}</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                {{ end }}
                <div class="col-lg-12">
                  <div class="main-button">
                    <a href="/posts">View All Posts</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  {{ template "components/sidebar_search.html" .}}
                </div>
                <!-- Recent Posts -->
                <div class="col-lg-12">
                  {{ template "components/sidebar_recent_posts.html" .}}
                </div>
                <!-- Categories -->
                <div class="col-lg-12">
                  {{ template "components/sidebar_categories.html" .}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {{ template "layouts/footer.html" .}}

    {{ template "layouts/scripts.html" .}}
  </body>
</html>
{{ end }}