{{ define "posts/show.html" }}
<!DOCTYPE html>
<html lang="en">

  {{ template "layouts/head.html" .}}

  <body>

    {{ template "components/preloader.html" .}}

    {{ template "layouts/navbar.html" .}}

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Post Details</h4>
                <h2>Single blog post</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here -->


    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="{{ .post.Image }}" alt="" style="height: 350px; object-fit: cover;">
                    </div>
                    <div class="down-content">
                      <span>{{ .post.Category.Name }}</span>
                      <h4>{{ .post.Title }}</h4>
                      <ul class="post-info">
                        <li><a href="#">{{ .post.User.Name }}</a></li>
                        <li><a href="#">{{ .post.CreatedAt.Time.Format "Jan 02, 2006" }}</a></li>
                      </ul>
                      <div>
                        {{ .post.Content }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  {{ template "components/sidebar_search.html" .}}
                </div>
                <!-- Recent Posts -->
                <div class="col-lg-12">
                  {{ template "components/sidebar_recent_posts.html" .}}
                </div>
                <!-- Categories -->
                <div class="col-lg-12">
                  {{ template "components/sidebar_categories.html" .}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    {{ template "layouts/footer.html" .}}

    {{ template "layouts/scripts.html" .}}

  </body>

</html>
{{ end }}
